<link rel="stylesheet" href="${base}/themes/ace/assets/js/ztree/zTreeStyle/zTreeStyle.css" type="text/css">

<div class="page-header">
    <h1>
        机构管理
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-lg-12">
        <button id="btnAdd" class="btn btn-sm">
            <i class="icon-pencil align-top bigger-125"></i>
            添加
        </button>
        <button id="btnUpdate" class="btn btn-primary btn-sm">
            <i class="icon-edit align-top bigger-125"></i>
            修改
        </button>
        <button id="btnDel" class="btn btn-danger btn-sm">
            <i class="icon-trash align-top bigger-125"></i>
            删除
        </button>
        <div id="dialogDel" class="hide">
            <div class="alert alert-info bigger-110">
               此操作将级联删除下级单位、用户、角色。
            </div>

            <div class="space-6"></div>

            <p class="bigger-110 bolder center grey">
                <i class="icon-hand-right blue bigger-120"></i>
                确定删除？
            </p>
        </div>
    </div>
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">

            <div class="col-sm-6">
                <div class="widget-box">
                    <div class="widget-header header-color-blue2">
                        <h5 class="lighter smaller">单位列表</h5>
                    </div>

                    <div class="profile-user-info-striped">
                        <div class="widget-main padding-8">
                            <div id="tree1" class="ztree"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">


                <div class="widget-box">
                    <div class="widget-header header-color-green2">
                        <h5 class="lighter smaller">单位资料</h5>
                    </div>
                    <input type="hidden" id="unitid" value="">
                    <div class="profile-user-info-striped">
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 单位名称</div>

                            <div class="profile-info-value">
                                <span class="editable" id="name">&nbsp;</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 机构ID</div>

                            <div class="profile-info-value">
                                <span class="editable" id="id">&nbsp;</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 机构编码</div>

                            <div class="profile-info-value">
                                <span class="editable" id="unitcode">&nbsp;</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 单位地址</div>

                            <div class="profile-info-value">
                                <span class="editable" id="address">&nbsp;</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 单位电话</div>

                            <div class="profile-info-value">
                                <span class="editable" id="telephone">&nbsp;</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 单位邮箱</div>

                            <div class="profile-info-value">
                                <span class="editable" id="email">&nbsp;</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 单位主页</div>

                            <div class="profile-info-value">
                                <span class="editable" id="website">&nbsp;</span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div><!-- /.row -->

<script src="${base}/themes/ace/assets/js/ztree/jquery.ztree.core-3.5.min.js"></script>

<script src="${base}/themes/ace/assets/scripts/sys/unit.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        Unit.init();
    });
</script>
