<input id="id" name="id" value="$!obj.id" type="hidden">
<input id="location" name="location" value="$!obj.location" type="hidden">
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="name"> 单位名称： </label>

    <div class="col-sm-9">
        <label class="block clearfix">
            <input type="text" id="name" name="name" value="$!obj.name" class="col-xs-10 col-sm-8"/>
        </label>
    </div>
</div>

<div class="space-2"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="unitcode"> 机构编码： </label>

    <div class="col-sm-9">
        <input type="text" id="unitcode" name="unitcode" value="$!obj.unitcode" class="col-xs-10 col-sm-5"/>
    </div>
</div>
<div class="space-2"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="telephone"> 联系电话： </label>

    <div class="col-sm-9">
        <input type="text" id="telephone" name="telephone"  value="$!obj.telephone" class="col-xs-10 col-sm-5"/>
    </div>
</div>
<div class="space-2"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="telephone"> 联系地址： </label>

    <div class="col-sm-9">
        <input type="text" id="address" name="address" value="$!obj.address" class="col-xs-10 col-sm-8"/>
    </div>
</div>
<div class="space-2"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="telephone"> 电子邮件： </label>

    <div class="col-sm-9">
        <label class="block clearfix">
            <input type="text" id="email" name="email"  value="$!obj.email" class="col-xs-10 col-sm-8"/>
        </label>

    </div>
</div>
<div class="space-2"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="website">
        网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址： </label>

    <div class="col-sm-9">
        <input type="text" id="website" name="website"  value="$!obj.website"  class="col-xs-10 col-sm-8"/>
    </div>
</div>
<div class="space-2"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="descript"> 单位简介： </label>

    <div class="col-sm-6">
        <textarea class="form-control" id="descript" name="descript">$!obj.descript</textarea>
    </div>
</div>
