<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="id"> 上级单位： </label>

    <div class="col-sm-6">
        <select class="form-control" id="id" name="id">
            <option value="">无</option>
            #if($unit)
            <option value="$!unit.id" selected>
                $!unit.name
            </option>
            #end
        </select>
    </div>
</div>

<div class="space-2"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="name"> 单位名称： </label>

    <div class="col-sm-9">
        <label class="block clearfix">
            <input type="text" id="name" name="name" class="col-xs-10 col-sm-8"/>
        </label>
    </div>
</div>

<div class="space-2"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="unitcode"> 机构编码： </label>

    <div class="col-sm-9">
        <input type="text" id="unitcode" name="unitcode" class="col-xs-10 col-sm-5"/>
    </div>
</div>
<div class="space-2"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="telephone"> 联系电话： </label>

    <div class="col-sm-9">
        <input type="text" id="telephone" name="telephone" class="col-xs-10 col-sm-5"/>
    </div>
</div>
<div class="space-2"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="telephone"> 联系地址： </label>

    <div class="col-sm-9">
        <input type="text" id="address" name="address" class="col-xs-10 col-sm-8"/>
    </div>
</div>
<div class="space-2"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="telephone"> 电子邮件： </label>

    <div class="col-sm-9">
        <label class="block clearfix">
            <input type="text" id="email" name="email" class="col-xs-10 col-sm-8"/>
        </label>

    </div>
</div>
<div class="space-2"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="website">
        网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址： </label>

    <div class="col-sm-9">
        <input type="text" id="website" name="website" class="col-xs-10 col-sm-8"/>
    </div>
</div>
<div class="space-2"></div>
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="descript"> 单位简介： </label>

    <div class="col-sm-6">
        <textarea class="form-control" id="descript" name="descript"></textarea>
    </div>
</div>
